*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body{
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30% );
  font-family: "Noto Serif ";
}

#app{
  padding: 0 80px;
}

/* Lista Produtos */

.produtos{
  max-width: 900px;
  margin:100px auto 0 auto;
}

.produto{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.produto_img{
  max-width: 300px;
  margin-right: 40px;
}

.produto_titulo{
  font-size: 3rem;
  line-height: 1;
}
.produto_preco {
  color: rgba(0, 0, 0, 0.5);
}

/* RESPONSIVO */

@media screen and (max-width: 900px) {
  #app {
    padding: 0 10px;
  }
  .produtos {
    margin-top: 40px;
  }
  .produto {
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: 30px auto;
  }
  .produto_info {
    padding: 20px;
  }
  .produto_img {
    max-width: 100%;
  }
  .produto_titulo {
    font-size: 1.5rem;
  }

}